.kaimo-index {
  h3 {
    color: green;
    width: 100px;
    height: 200px;
  }
  .wrap-box {
    width: 200px;
  }
}
.kaimo_index {
  h3 {
    color: red;
  }
}
.form {
  padding: 5px 15px 0;
  background: #fff;
}
