.index-box {
  position: relative;
  .header-box {
    position: relative;
  }
  .form1 {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 180px;
    background-color: #fff;
    width: 394px;
    height: 254px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 2px 48px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
}
