.big-header {
  height: 370px;
  background: #1ba9ba;
  border-bottom-right-radius: 120px;
  border-bottom-left-radius: 120px;
  padding-top: 44px;
  .title {
    margin-left: 34px;
    line-height: 32px;
    height: 32px;
    margin-bottom: 14px;
  }
  .info {
    margin-left: 34px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}
.header {
  height: 44px;
  background: #1ba9ba;
  display: flex;
  width: 100vw;
  align-items: center;
  padding-left: 18px;
  position: fixed;
  left: 0;
  top: 0;
  .arrow {
    width: 10px;
    height: 10px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transform: rotate(-45deg);
    margin-right: 130px;
  }
  .title {
    height: 24px;
  }
}
