.header {
  height: 300px;
  width: 414px;
  background: #1ba9ba;
  border-bottom-right-radius: 120px;
  border-bottom-left-radius: 120px;
  padding-top: 90px;
  .title {
    margin-left: 34px;
    line-height: 32px;
    height: 32px;
    margin-bottom: 14px;
  }
  .info {
    margin-left: 34px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}
