html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: -apple-system, 'MicrosoftYaHei', BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-weight: 400;
  background: #f5f5f5;
}
.fn24 {
  font-size: 24px;
}
.fn18 {
  font-size: 18px;
}
.fn14 {
  font-size: 14px;
}

.bold {
  font-weight: 700;
}
.fn20 {
  font-size: 20px;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
